<div class="view">
  <div class="layout layout--row">
    <div class="columns" data-gh-workflows data-layout="half_horizontal">
      <div class="column">
        <div class="text-center opacity-60">Loading workflows...</div>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <img class="image image-stroke" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg">
    <div class="title">GitHub Actions</div>
  </div>
</div>
